<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h3><%= @order.vendor.name %> has submitted an order</h3>
		<%= link_to "Go to Orders Index", vendor_orders_path %> 
  </body>
</html>
