<div class = "headerWrapper"> 

	<section class = "PartOne">  
	<div class = "navbar">
		<a href="/login" class="Login" style= "font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: 22px; font-weight: 300; color: #FFFDEA; text-decoration:none;">LOGIN</a>
	</div>
	<%# <img src="caplogo.png" alt="logo" style="width:400px; height:175px; margin-bottom: 20px; padding-top: 3%;"> %>
	<%= image_tag "new_brand/caplogo.png", alt: "logo", style: "width:400px; margin-bottom: 20px; padding-top: 3%;" %> 

	<h2>Every moment, Every Perspective.</h2>
	<h2>Captured and Live Streamed at Your Event.</h2>
	</section>

</div>

<div class = "lineone"></div>

<div class="container-fluid" style="background-color: #FFFDEA;">
	<div class="row">
		<div class="col-xs-12">
			<p><b> CAPSTORY TRANSFORMS YOUR EVENT SPACE INTO AN ENGAGING LIVE PHOTO EXPERIENCE. </b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8" style="margin:auto">
				<p>Your guests capture their favorite authentic and spontaneous moments from your next fundraiser, corporate celebration or holiday party and share them with everyone in an instant. There's no app for them to download and it works on any cellphone, tablet or computer!</p>
		</div>	
	</div>
</div>
