<div class="row">
	<div class="small-8 small-centered columns" id="thank_you_logo">
		<%= link_to image_tag("logo.png", width: '650px', height: '60px'), root_url %>
	</div>
</div>
<div class="row">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you for requesting a wedding date. We will be in contact shortly.</h2>
		<h3 class="subheader">We have sent a confirmation email to <%= @access_request.email %></h3>
	</div>
</div>