<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There may be an issue with the background jobs running on the server</h1>
		<hr>
		<p>
			You are being sent this notification because there are at least 15 pending jobs on the background jobs server at the moment.
			Usually, that is a sign that there is an issue and the jobs are not being processed properly. Please, let an admin know. The 
			most likely solution is to restart the server.
		</p>
  </body>
</html>