<div class="row">
	<div class="small-6 small-centered columns">
		<h3>Thank you</h3>
		<p>We will immediately start putting the order together. In case we have any questions, we will contact you to ask for clarification so we can make sure that your clients are as pleased as possible with the service.</p>
		<p>If you have any questions or concerns, please don't hesitate to contact us at <%= link_to "hello@capstory.me", "mailto:hello@capstory.me" %></p>
	</div>
</div>
