<div class="row">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you. We will send you a reminder on the date you requested</h2>
		<h3 class="subheader">We have sent a confirmation email to <%= @email %></h3>
		<br>
		<h3 class="subheader">
			Please, send us an email at <%= link_to "hello@capstory.me", "mailto:hello@capstory.me" %> and tell us a little about your wedding, how you would 
			like to use Capstory and how we can help make it the best day of your life.
		</h3>
	</div>
</div>