<div class="row" id="thank_you_text">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you.</h2>
		<h3 class="subheader">We have sent a confirmation email and receipt to <%= @customer_email %>. 
			We will keep you up-to-date with where your order is in the process and when we have sent it to you.
		</h3>
		<br />
		<h3 class="subheader">
			If you have any questions or concerns, please contact us at 555-555-1122 or at <a href="mailto=hello@capstory.me">hello@capstory.me</a>
		</h3>
	</div>
</div>
