<script>
	window.onload = function() {
		$zopim.livechat.window.onShow(function() {
			sendSlackChatStarted();
		});
	};
</script>
<div class="row" id="thank_you_text">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you.</h2>
		<h3 class="subheader">We have sent a confirmation email and receipt to <%= @customer_email %>. 
			We will keep you up-to-date with where your order is in the process and when we have sent it to you.
		</h3>
		<br />
		<h3 class="subheader">
			If you have any questions or concerns, please contact us at 555-555-1122 or at <a href="mailto=hello@capstory.me">hello@capstory.me</a>
		</h3>
	</div>
</div>
<div class="row" style="margin-top:100px;margin-bottom:100px;">
	<div class="small-8 small-centered columns">
		<p class="subheader lead">What if I want to order albums from another team?</p>
		<p class="subheader">To order albums for different teams, you must go through the ordering and checkout process for each team. All taxes are included in each order and shipping is covered. So, there is no price difference or cost to going through the checkout process numerous times. All the albums you order will be delivered together.</p>
		<h3><a href="/orders/northpointe">Click Here to Start a New Order</a></h3>
	</div>
</div>

