<div class="small-8 small-centered columns">
	<h3 class="subheader"><%= @client.name %></h3>
	<% @client.capsules.each do |capsule| %>
		<h5>Go to <%= link_to capsule.name, capsule %></h5>
	<% end %>
</div>