
<div class="row" id="thank_you_text">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you for spreading the word</h2>
		<h3 class="subheader">We have sent an email to your friend, <%= @engaged_contact.engaged_name %>, at <%= @engaged_contact.engaged_email %>. 
			<br>
			<br>
			We love to hear from people interested in Capstory. So, please, send us an email, ask any questions you might have,
			and let us know your thoughts.
		</h3>
	</div>
</div>