body {
  height: 100%;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 0;
 	margin-bottom: 0;
 	padding: 0px;
 	text-align: center;
  background-color: #FFFDEA;
 	color: #FFFDEA;
}


div.headerWrapper {
	height: 480px;
	background-image: url("/images/capstory-header2.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-position: 0px -200px;
  background-attachment: fixed;
	background-repeat: no-repeat;
  background-size: cover;
}

div.tempHeaderWrapper {
  height: 320px;
  background-image: url("/images/tradeshow_header_2_web.jpg");
  background-position: 0px -350px;
}

div.headerWrapper h1 {
	text-align: center;
	color: #FFFDEA;
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 400;
}

section.PartOne {
	height: 100%;
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
	/* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
	/* background-position: 0px -100px; */
	/* background-repeat: no-repeat; */
  /* background-size: cover; */
}

section.PartOne h1 {
  line-height: 1.5em;
  margin-top: 15px;
}

.navbar{
	margin: 0;
	padding-top: 25px;
	padding-right: 35px;
	text-align: right;

}

div.tempNavbar {
  padding-top: 15px;
}

.mainLogo {
  width: 38%;
  min-width: 300px;
  margin-bottom: 20px;
  padding-top: 3%;
}

img.tempMainLogo {
  width: 28.5%;
  min-width: 100px;
  margin-bottom: 10px;
  padding-top: 2%;
}

.headerBorder {
  border-style: solid;
  border-width: 0.12em;
  border-color: #434244;
}

section.PartTwo {
	/* max-width: 100%; */
  max-width: 1024px;
	margin: 0px auto;
}

div.darkGreyBackgroundArea {
  background-color: #434244;
  padding-bottom: 25px;
}

div#introVideo {
  text-align:center;
  width: 100%;
  margin: 0px auto;
}

div#introVideo iframe {
  width: 1000px;
  height: 562px;
}

div.tempPartTwo {
  height: 100%;
  /* width: 100%; */
  margin: 0px auto;
  padding: 0px 10%;
  text-align: left;
}

div.tempPartTwo h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 10px 0px;
  font-size: 23px;
}

div.tempPartTwoHeader {
  padding-top: 25px;
}

div.tempPartTwoHeader h1 {
	font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

div.tempThirdColumn {
  display: inline-block;
  width: 33%;
}

div.tempTwoThirdsColumn {
  display: inline-block;
  width: 66%;
}

img.photowallImage {
  width: 60%;
  float: right;
}

img.photowallPhoneImage {
  padding-top: 20px;
  width: 100%;
}

section.PartTwo h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
 	color: #434244;
}

div.container {  
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  width: 75%;
}

div.centerContent {
	margin-left: auto;
	margin-right: auto;
}

div.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 23px;
 	color: #434244;
 	line-height: 1.6;
}


div.requestDemoBtnDiv {
  margin-top: 45px;
  margin-bottom: 25px;
}

div.tempPartThreeRequestBtn {
  position: relative;
  top: -100px;
} 

button.requestDemoBtn {
  min-width: 325px;
  max-width: 440px;
  font-family: "Open Sans";
  background-color: #F16524;
  border: none;
  color: #FFFDEA;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 130px;
  padding-right: 130px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

button.requestDemoBtn a, a:hover, a:visited {
  text-decoration: none;
  font-family: "Open Sans";
  color: #FFFDEA;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

div.dottedLine{
	border-bottom: 3px dotted;
	border-color: #F16524;
	width: 50%;
  max-width: 440px;
	margin-left:auto; 
	margin-right:auto;
	margin-top: 50px;
  margin-bottom: 50px;
}

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    border:1.3px solid #F16524;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;  

}

.nav label {
    width: 90px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFFDEA;
    font-size: 100pt;
    text-align: center;
    line-height: 380px;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(255, 255, 255, .3);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;

}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: #FFFDEA;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: #F16524;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {

	background: #F16524;

}

section.PartTwo h2 {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
 	color: #434244;
}

div.picHolder{
	height: 100%;
	width:80%;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 110px;
	padding-top: 35px;
}

div.explanatoryPics {
  display: inline-block;
  width: 33%;
  text-align: center;
}

div.explanatoryPics img {
  width: 200px;
 	padding: 0;
 	margin: 0;
}

div.logobox{
	width: 80%;
  margin-top: 45px;
  margin-bottom: 45px;
	margin-left: auto;
	margin-right: auto;
}

div.tempLogobox {
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}

h3.partnersHeader {
  text-align: left;
  padding-left: 40px;
}

h3.partnersHeader.tempPartnerHeader {
  padding-left: 0px;
}

div.partnerLogo {
  vertical-align: middle;
	display: inline-block;
 	padding: 0px;
 	margin: 0px;
  width: 22%;
}

div.partnerLogoMobile {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

div.footerBorder {
	border-style: solid;
  border-width: 0.12em;
  border-color: #F16524;
}

div.tempPartThree {
  height: 100%;
  width: 80%;
  padding: 0px;
  padding-bottom: 0px;
  margin: 0px auto;
  display: inline-block;
  color: #434244; 
  text-align: left;
  position:relative;
  top: -70px;
}

div.tempPartThree h1{
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  padding-left: 40px;
}

div.tempPartThree h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 23px;
  padding-top: 20px;
  padding-left: 40px;
}

div.tempFourthColumn {
  display: inline-block;
  width: 25%;
}

div.tempThreeQuartersColumn {
  display: inline-block;
  vertical-align: top;
  width: 74%;
  padding-top: 80px;
}

img.textBackImage {
  width: 100%;
  padding: 0px;
}

section.PartThree{
	height: 100%;
	width: 100%;
	background-image: url("/images/Capstory-Footer.png");
	background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 40px;
}

div.footerRow {
  width: 93%;
  max-width: 1024px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

div.footerColumn {
  display: inline-block;
  width: 33%;
  text-align: center;
}

div.addressSection {
  color: #FFFDEA;
  text-align: left;
}

div.addressSection p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height:0.2em;
}

div.addressSection a, a:hover, a:visited {
  display: block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
	color: #F16524;
  margin-top: 30px;
  margin-bottom: 30px; 
  text-decoration: none;
  text-transform: none;
}

div.addressSection h3 {
  font-family: "Montserrat";
  font-weight: 400;
}

div.socialIconsDiv {
}

div.socialIcon {
  display: inline-block;
  padding: 10px;
}

div.socialIcon a, a:visited, a:hover {
  margin: 0px; 
}

div.footerLogo {
  text-align: right;
}

/* .Facebook{ */
/* 	display:inline-block; */
/* } */

/* .Facebook img{ */
/* 	left-padding: 5px; */
/* } */

/* .Facebook img{ */
/* 	width: 100%; */
/* 	height: auto; */
/* } */

/* .Twitter{ */
/* 	left-padding: 5px; */
/* 	display:inline-block; */
/* } */

/* .Twitter img{ */
/* 	width: 100%; */
/* 	height: auto; */
/* } */

/* .LinkedIn{ */
/* 	left-padding: 5px; */
/* 	display:inline-block; */
/* } */

/* .LinkedIn img{ */
/* 	width: 100%; */
/* 	height: auto; */
/* } */

/* .Instagram{ */
/* 	left-padding: 5px; */
/* 	display:inline-block; */
/* } */


div.hideOnFull {
  display: none;
}

#modal-overlay {
  position: fixed;
  background-color: #434244;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: hidden;
}

div.modal-content {
  position: relative;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1100;
  width: 55%;
  /* height: 85%; */
  margin: 5% auto;
  padding-bottom: 30px;
  background-color: #FFFDEA;
}

div.modal-content#mainModalContent {
  height: 85%;
}

div.modal-content#tempModalBody {
  height: 55%;
}

div.modal-content#thankYouModalContent {
  display: none;
  min-height: 30%;
  max-height: 85%;
}

div.modal-content#errorsModalContent {
  display: none;
  min-height: 30%;
  max-height: 85%;
}

div.modal-header {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  background-color: #F16524;
}

div.close-button {
  float: right;
  margin-top: 3px;
  height: 20px;
  width: 20px;
  background-image: url("/images/x-icon.png");
  background-size: contain;
}


div.modal-body {
  width: 90%;
  max-width: 800px;
  margin: 0px auto;
  text-align: left;
  font-family: "Open Sans", sans-serif;
 	color: #434244;
}

div.modal-content#thankYouModalContent div.modal-body {
  text-align: center;
  max-width: 450px;
}

div.modal-content#thankYouModalContent div.modal-body p {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.modal-content#errorsModalContent div.modal-body {
  text-align: center;
  max-width: 470px;
}

div.modal-content#errorsModalContent div.modal-body p {
  font-size: 14px;
}

div.requestFormRow {
 padding-top: 10px;
 padding-bottom: 10px; 
}

div.requestFormInputBlock {
  display: inline-block;
  width: 49%;
}

div.requestFormCheckBox {
  display: inline-block;
  background-color: #FFFDEA;
  border: 0.15em solid #434244;
  border-radius: 7px;
  -web-border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  width: 18px;
  height: 18px;
}

div.requestFormCheckMark {
  display: inline-block;
  width: 14px;
  height: 14px;
  /* margin: 0px auto; */
  margin-left: 2px;
  margin-top: 2px;
  border-radius: 4px;
  -web-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #F16524;
  visibility: hidden;
}

.requestFormLabel {
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

span.requestFormLabel {
  /* display: inline; */ 
}

div.requestFormInput input[type=text] {
  background-color: #FFFDEA;
  border: 0.15em solid #434244;
  border-radius: 7px;
  -web-border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 10px;
  width: 85%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

div.requestFormInput input[type=checkbox] {
  visibility: hidden;
}

div.requestFormSubInputBlock {
  display: inline-block;
  width: 45%;
}

textarea#additional_information {
  width: 95%;
  height: 150px;
  padding: 10px;
  background-color: #FFFDEA;
  border-radius: 7px;
  -web-border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 0.15em solid #434244;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

div.requestFormSubInputBlock div.requestFormInput input {
  width: 70%;
}

div.requestFormUnderInputText p {
  float: left;
  margin: 0px;
  padding-top: 5px;
  font-style: italic;
  font-size: 10px;
}

#requestFormErrorDisplay {
  /* background-color: red; */
  padding: 10px;
  border-radius: 7px;
  -web-border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  visibility: hidden;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

div.errorModalError {
  padding: 10px;
}

#backToMainModal {
  background-color: #F16524;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  -web-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 17px 40px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFDEA;
}

div.requestFormDottedLine {
	border-bottom: 3px dotted;
	border-color: #F16524;
	width: 98%;
	margin-left:auto; 
	margin-right:auto;
  margin-top: 30px;
}

div.requestFormButtonGroup {
  float:right;
}

#requestFormCloseButton {
  background-color: #FFFDEA;
  border: 0.12em solid #434244;
  border-radius: 5px;
  -web-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  text-transform: uppercase;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: 600;
  display: inline;
  cursor: pointer;
}

#requestFormSubmitButton {
  -webkit-appearance: none;
  background-color: #F16524;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  -web-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 17px 40px;
  font-size: 22px;
  font-weight: 600;
  color: #FFFDEA;
}

@media (max-width: 1024px) and (min-width: 769px) {
  div.darkGreyBackgroundArea {
    padding: 0px;
  }

  div.tempPartThreeRequestBtn {
    top: -40px;
  }

  img.photowallImage {
    padding-top: 40px;
    width: 50%;
  }
}

@media (max-width: 768px) {

  div.headerWrapper {
    height: 480px;
    background-image: url("/images/tradeshow_header_2_web.jpg");
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  div.tempHeaderWrapper {
    height:280px;
  }

  section.PartOne {
    background-position: 0px 0px;
  }

  img.tempMainLogo {
    width: 50%;
    max-width: 200px;
    padding-top: 3%;
  }

  section.PartOne h1 {
    line-height: 1.5em;
    margin-top: 0px;
  }

  div.description p {
    font-size: 16px;
  }

  div.tempPartTwo h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding: 10px 0px;
    font-size: 18px;
  }

  div.tempPartTwoHeader {
    padding-top: 10px;
  }

  div.tempPartTwoHeader h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
  }

  div.tempPartThree {
    position: relative;
    top: 0px;
  }

  div.requestDemoBtnDiv .tempPartThreeRequestBtn {
    position: relative;
    top: 0px;
  } 

  button.requestDemoBtn {
    min-width: 250px;
    padding: 10px 50px;
    width: 90%;
  }

  div#introVideo {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  div.tempThirdColumn {
    width: 95%;
  }

  div.tempFourthColumn {
    width: 95%;
    text-align: center;
  }

  img.textBackImage {
    width: 60%;
    padding-top: 50px;
  }

  div.tempThreeQuartersColumn {
    width: 90%;
    padding-top: 20px;
  }

  div.tempThreeQuartersColumn h1 {
    padding: 0px;
    font-size: 21px;
  }

  div.tempThreeQuartersColumn h3 {
    padding: 0px;
    font-size: 18px;
  }

  h3.partnersHeader.tempPartnerHeader {
    font-size: 18px;
  }
  .slides {
    width: 90%;
    height: 300px; 
  }

  div.picHolder {
    margin-bottom: 30px;
  }

  div.explanatoryPics {
    width: 100%;
  }

  div.tempFooterRow {
    width: 100%;
  }

  div.footerColumn {
    width: 55%;
  }

  div.hideOnPhone {
    display: none;
  }

  img.hideOnPhone {
    display: none;
  }

  div.showOnPhone {
    display: block;
  }

  div.tempFooterLogoPhone {
    width: 20%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
  }

  div.footerLogo {
    padding:10px;
    text-align:center;
  }

  div.modal-content {
    width: 85%;
  }

  div.modal-header {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background-color: #F16524;
  }

  div.modal-body {
    width: 90%;
    max-width: 800px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: #434244;
  }

  /* form.requestDemoForm { */
  /*   margin-left: auto; */
  /*   margin-right: auto; */
  /* } */

  div.close-button {
    float: right;
    margin-top: 3px;
    padding-left: 8px;
    height: 20px;
    width: 20px;
    background-image: url("/images/x-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* visibility: hidden; */
  }

  div.requestFormRow {
   padding-top: 0px;
   padding-bottom: 0px; 
 }

  div.requestFormInput input[type=text] {
    width: 90%;
  }

  div.requestFormSubInputBlock {
    display: inline-block;
    width: 48%;
  }

  div.additionalInfoRow {
    margin-top: 20px;
  }

  textarea#additional_information {
    width: 90%;
    height: 150px;
    padding: 10px;
    background-color: #FFFDEA;
    border-radius: 7px;
    -web-border-radius: 7px;
    -o-border-radius: 7px;
    -moz-border-radius: 7px;
    border: 0.15em solid #434244;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }

  div.requestFormButtonGroup {
    float: none;
  }

  #requestFormCloseButton {
    /* background-color: #FFFDEA; */
    /* border: 0.12em solid #434244; */
    /* border-radius: 5px; */
    /* -web-border-radius: 5px; */
    /* -o-border-radius: 5px; */
    /* -moz-border-radius: 5px; */
    /* text-transform: uppercase; */
    /* padding: 15px 40px; */
    /* font-size: 22px; */
    /* font-weight: 600; */
    margin-top: 10px;
    display: block;
    text-align: center;
  }

  #requestFormSubmitButton {
    /* background-color: #F16524; */
    /* border: none; */
    /* text-transform: uppercase; */
    /* border-radius: 5px; */
    /* -web-border-radius: 5px; */
    /* -o-border-radius: 5px; */
    /* -moz-border-radius: 5px; */
    /* padding: 17px 40px; */
    /* font-size: 22px; */
    /* font-weight: 600; */
    /* color: #FFFDEA; */
    margin-top: 10px;
    display: block;
    width: 100%;
  }

  div.requestFormInputBlock {
    padding-top: 10px;
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 991px) {

  .slides {
    width: 70%;
    height: 350px;
  }
} 
