<div class="row" ng-app="logoApp">
	<div class="small-6 columns">
		<%= image_tag @logo.image.url(:standard), width: (@logo.width || @logo.standard_width), height: (@logo.height || @logo.standard_height), id: "standardLogo" %>
	</div>
	<div class="small-6 columns" ng-controller="DimensionsCtrl" ng-init="init()">
		<h3>Image Dimensions</h3>
		<p>Original Image Ratio: {{ originalAspectRatio }}:1</p>
		<input type="text" ng-model="logoHeight" />
		<input type="text" ng-model="logoWidth" />
		<button ng-click="updateDimensions(logoWidth, logoHeight)">Update Dimensions</button>
		<button ng-click="saveDimensions(logoWidth, logoHeight, <%= @logo.id %>)">Save Dimensions</button>
		<p>Current Image Ratio: {{ logoWidth / logoHeight | number: 2}}:1</p>
		<div class="alert-box success" ng-show="successfulSave">
			Dimensions Successfully saved
		</div>
		<div class="alert-box error" ng-show="errorSave">
			Unable to Save Dimensions...ask Brad
		</div>
	</div>
</div>

<script>
	logoApp.factory("DimensionData", [function() {
		var width = <%= @logo.width || @logo.standard_width  %>;
		var height = <%= @logo.height || @logo.standard_height %>;

		var getDimensions = function() {
			return {
				width: width,
				height: height
			};
		};

		return {
			getWidth: function() {
				return width;
			},
			getHeight: function() {
				return height;
			},
			getAspectRatio: function() {
				var ratio = width / height;
				return Math.round(ratio * 100) / 100;
			}
		}
	}]);
</script>
