<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><%= @access_request.name %> has requested access to Capstory.me</h4>
    <p>His or her email is <%= @access_request.email %></p>
		
		<p>Go to the <%= link_to "Access Requests Admin Page", @url %> in order to validate their request.</p>
  </body>
</html>