<div class="row">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you for requesting a wedding date. We will be in contact shortly.</h2>
		<h3 class="subheader">We have sent a confirmation email to <%= @access_request.email %></h3>
	</div>
</div>