<div ng-init="init()">
  <div class="row">
    <div class="small-12 columns">
      <button class="button expand" ng-click="toggleNewPhotos()" ng-hide="newPhotos">Insert New Photos</button>
      <button class="button expand" ng-click="toggleNewPhotos()" ng-show="newPhotos">Turn off New Photos</button>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns" style="text-align:center;">
      <div style="height:750px;">
        <img ng-show="post.isImage" ng-src="{{ post.large_image }}" style="width:auto;height:700px;" />
        <h1 ng-hide="post.isImage" style="padding-top:200px;">{{ post.body }}</h1>
        <!-- <input ng-model="timeInterval" type="number" /> -->
        <!-- <h3>Current Post - {{ post }}</h3> --> 
        <!-- <p>{{ posts }}</p> -->
      </div>
    </div> 
  </div>
  <div class="row" style="margin-top:40px;margin-bottom:100px;" ng-show="currentNewPostVisible">
    <div class="small-2 columns" ng-repeat="item in smallFilmStrip">
      <img ng-src="{{ item.thumb }}" style="width:auto;height:100px;" ng-show="item.isImage" />
      <div ng-hide="item.isImage">
        <p><blockquote>{{ item.body }}</blockquote></p>
      </div>
    </div>
    <div class="small-4 columns alert-box secondary" ng-style="currentNewPostPosition" id="currentNewPostDiv">
      <img ng-src="{{ currentNewPost.thumb }}"/>
    </div>
  </div>
  <div class="row" style="margin-top:40px;margin-bottom:20px;" ng-hide="currentNewPostVisible">
    <div class="small-2 columns" ng-repeat="item in filmStrip">
      <img ng-src="{{ item.thumb }}" style="width:auto;height:100px;" ng-show="item.isImage" />
      <div ng-hide="item.isImage">
        <p><blockquote>{{ item.body }}</blockquote></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <!-- <p>New Posts Array: {{ newPosts }}</p> -->
      <a ng-click="backToCapsule()"><i class="fa fa-long-arrow-left" style="margin-top: 50px;margin-bottom:50px;"></i> Back To Capsule</a>
    </div>
    <div class="small-6 columns">
      <!-- <p>Current New Photo: {{ currentNewPost.id }}</p> -->
      <!-- <img ng-show="currentNewPostVisible" ng-src="{{ currentNewPost.thumb }}" /> -->
    </div>
  </div>
</div>
