<div class="row">
	<div style="margin:50px;"></div>
</div>
<div class="row">
	<div class="large-8 large-centered columns">
		<h2>Add A New Vendor</h2>
		<%= render "form", vendor_page: @vendor_page, action: "Create" %>
	</div>
</div>