<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<p>Dear <%= @engaged_contact.engaged_name %>,</p>

		<p>Congratulations on your engagement! Your friend, <%= @engaged_contact.name %>, told us the big news!</p>

		<p>
			There are going to be so many exciting days coming up and we want to help you collect all the precious moments 
			you can! Capstory is the best way to enjoy the photographs and videos your guests capture. Guests can upload 
			their photos and videos via email and text message so you can enjoy them during the reception in a live slideshow. 
			We then use these images to compile a keepsake book and a video slideshow for you to treasure.
		</p>

		<p>
			We would love to tell you more about Capstory at <%= link_to "www.capstory.me", "http://www.capstory.me" %> and look 
			forward to helping you to remember every beautiful moment of your big day and days ahead. After all, in these moments
			one lens is not enough!
		</p>

		<p>
			Sincerely, <br>
			Your friends at Capstory <br>
			Makenzie, Dustin, & Super
		</p>
  </body>
</html>