<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hello, how are you?</h4>
    <p>
			This is a gentle reminder that you asked us to send you about Capstory.me
    </p>
    <p>In case you don't quite remember who we are, visit <%= link_to "www.capstory.me", "http://www.capstory.me" %> to refresh your memory.</p>
		<p>
			We are dedicated to preserving wedding memories, both before, during and after the special day. We really enjoy 
			speaking with people interested in Capstory.me so please send us a note, ask us a question and let us know how we 
			can help make your wedding the most amazing day ever.
		</p>
		<p>If you have any questions please contact us at <a href="mailto:hello@capstory.me">hello@capstory.me</a> or simply reply to this email.</p>
  </body>
</html>