<div class="row">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you</h2>
		<br>
		<h3 class="subheader">
			We will respond to your comment or question as soon as possible. 
			If you have any other questions in the meantime, please ask us by sending an email to <%= link_to "hello@capstory.me", "mailto:hello@capstory.me" %>.
		</h3>
	</div>
</div>