/*
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree ./angular_capsule
 *= require_self
 */

.capsule_link {
  text-align: center;
  background-color: #fff;
}

.capsule_link:hover {
  background-color: #eee;
}

.application_logo a, a:hover, a:visited {
  background: none;
  text-decoration: none;
}

@media only screen {
  .application_logo #capstory_logo {
    position: relative;
    top: 20px;
    left: 10px;
  }
}

@media only screen and (min-width: 40.063em) {
  .application_logo #capstory_logo {
    position: relative;
    top: 10px;
    left: 10px;
  }

}

.testStyles {
  position: relative;
  width: 15px;
  left: 100px;
  top: -20px; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #A3A6A9;
}

.testStylesDiv {
  position: relative;
  padding-top: 5px;
  left: 0px;
  top: -10px;
  border-radius: 3px;
  border: 2px solid #A3A6A9;
  text-align: center;
}
