/*
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree ./angular_capsule
 *= require_self
 */
.emailAddress {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -mox-border-radius: 5px;
}

.uploadImage {
  width: 40%;
  height: auto;
}

.capsule_link {
  text-align: center;
  background-color: #fff;
}

.capsule_link:hover {
  background-color: #eee;
}

.application_logo a, a:hover, a:visited {
  background: none;
  text-decoration: none;
}

@media only screen {
  .application_logo #capstory_logo {
    position: relative;
    top: 20px;
    left: 10px;
}
}

@media only screen and (min-width: 40.063em) {
  .application_logo #capstory_logo {
    position: relative;
    top: 10px;
    left: 10px;
}

}

.testStyles {
  position: relative;
  width: 15px;
  left: 100px;
  top: -20px; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #A3A6A9;
}

.testStylesDiv {
  position: relative;
  padding-top: 5px;
  left: 0px;
  top: -10px;
  border-radius: 3px;
  border: 2px solid #A3A6A9;
  text-align: center;
}

.selectionNotification {
  position: fixed;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

.selectionsArea {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.selectionItem {
  display: inline-block;
}

.selectionImage {
  padding: 5px;
  max-height: 75px;
}

.layer {
  position: relative;
  width: 100%;
}

.layer i {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0%;
  width: 100%;
  font-size: 100px;
  color: #96B778;
}

.coverLayer {
  position: relative;
  width: 100%;
}

.coverLayer i {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0%;
  width: 100%;
  font-size: 80px;
  color: #96B778;
}
