/*
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree ./angular_capsule
 *= require_self
 */

.capsule_link {
  text-align: center;
  background-color: #fff;
}

.capsule_link:hover {
  background-color: #eee;
}

#application_logo {
  position: relative;
  top: 10px;
  left: 10px;
}

#application_logo a, a:hover, a:visited {
  background: none;
  text-decoration: none;
}
