/*
 *= require ./homepage/application
 *= require jquery.ui.datepicker
 *= require ./homepage/homepages
 *= require font-awesome
 */

#partners {
	background-color:#333333;
}

#partners h2 {
	color: white;
}

#partners hr {
	border-color: #c49a55;
}

ul.partners_list {
	text-align:center;
}

ul.partners_list li {
	display: inline-block;
	margin: 20px;
}

#engaged_contact_copy_launch {
	float:left;
}

#engaged_contact_copy_show {
	float: left;
	margin-top:20px;
}

.new_engaged_contact {
	width: 80%;
	margin: auto;
}

.clear_engaged_contact {
	float: left;
	margin:50px;
	height:10px;
}

#thank_you_logo {
	margin-top: 50px;
	margin-bottom: 50px;
	a, a:hover, a:visited {
		background: none;
		text-decoration: none;
	}
}

.photo-book-large {
	width: 100%;
	height: 400px;
}

.photo-book-medium {
	width: 100%;
	height: 400px;
}

.photo-book-small {
	width: 100%;
	height: 250px;
}