<div ng-controller="CapsuleController" ng-init="init()">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="subheader">
        {{ capsule_data.name }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p class="subheader">Select a time to search for your photo</p>
      <select ng-model="group" ng-change="refreshIsotope()">
        <option value="">All</option>
        <option value="0730">7:30AM</option>
        <option value="0800" selected>8:00AM</option>
        <option value="0830">8:30AM</option>
        <option value="0900">9:00AM</option>
        <option value="0930">9:30AM</option>
        <option value="1000">10:00AM</option>
        <option value="1030">10:30AM</option>
        <option value="1100">11:00AM</option>
        <option value="1130">11:30AM</option>
        <option value="1200">12:00PM</option>
        <option value="1230">12:30PM</option>
        <option value="1300">1:00PM</option>
        <option value="1330">1:30PM</option>
        <option value="1400">2:00PM</option>
        <option value="1430">2:30PM</option>
        <option value="1500">3:00PM</option>
        <option value="1530">3:30PM</option>
        <option value="1600">4:00PM</option>
        <option value="1630">4:30PM</option>
        <option value="1700">5:00PM</option>
        <option value="1730">5:30PM</option>
        <option value="1800">6:00PM</option>
        <option value="1830">6:30PM</option>
      </select>
    </div>
  </div>
  <!-- {{ posts }} -->
  <div class="row">
    <div class="small-12 columns" id="isotopeContainer" isotope-container>
        <div isotope-item ng-repeat="post in posts | filter:group">
          <!-- {{ post }} -->
          <a href="{{ post.image }}" target="_blank"><img ng-src="{{ capsuleImage(post) }}" ng-show="isPhoto(post)" ng-click="seeOriginal(post)" width="280px" class="capsule_image"/></a>
          <p ng-hide="isPhoto(post)">{{ post.body }}</p>
        </div>
    </div>
  </div>
</div>
