<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h4>Someone has submitted a question or comment from the contact form</h4>
    <p>Name: <%= @contact_form.name %></p>
		<p>Email: <%= @contact_form.email %></p>
		<p>Message: <%= @contact_form.message %></p>
  </body>
</html>
