<div class="row">
	<div class="small-8 small-centered columns" id="thank_you_logo">
		<%= link_to image_tag("logo.png", width: '650px', height: '60px'), root_url %>
	</div>
</div>
<div class="row">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">We're Sorry.</h2>
		<h3 class="subheader">We caught an error somewhere. It may well be on our end.
			<br>
			We will contact you at <%= @customer_email %> soon so we can try to get everything sorted out. We apologize for the delay.
		</h3>
	</div>
</div>