<div class="row">
	<div class="small-8 small-centered columns" id="thank_you_logo">
		<%= link_to image_tag("logo.png", width: '650px', height: '60px'), root_url %>
	</div>
</div>
<div class="row" id="thank_you_text">
	<div class="small-8 small-centered columns">
		<h2 class="subheader">Thank you.</h2>
		<h3 class="subheader">We have sent a confirmation email and receipt to <%= @customer_email %>. 
			We will contact you very soon so we can set up your wedding capsule, prepare your welcome kit and help in any way
			that we can to make sure you have a wonderful wedding day!
		</h3>
	</div>
</div>
