<div class="row">
	<div class="large-8 large-centered columns">
		<h2>Add A Salesperson to the Vendor</h2>
		<br>
		<%= render "form", vendor_employee: @vendor_employee, vendor: @vendor %>
	</div>
</div>